{% comment %}
[[ CE | Rich Text ]] 
name: ce-rich-text-min-v1
Author: Carlos Enrique
Updated: 27.11.2023 Version: 1.0
Website: carlosenrique.dev
Email: carlos@carlosenrique.dev
(c) Copyright by Carlos Enrique
{% endcomment %} 

{% assign section_id = "section-" | append: section.id %}
{%- style -%}#{{ section_id }} {padding-top: {{ section.settings.mobile_padding_top }}px;padding-bottom: {{ section.settings.mobile_padding_bottom }}px;}#{{ section_id }} .ce-rich-text__width {max-width: 100%;margin: 0 auto;padding-left: {{ section.settings.padding_left_right_mobile }}px;padding-right: {{ section.settings.padding_left_right_mobile }}px;}#{{ section_id }} .ce-rich-text__wrapper {display: flex;flex-direction: column;{%- if section.settings.content_alignment_mobile == 'center' -%}align-items: center;{%- elsif section.settings.content_alignment_mobile == 'left' -%}align-items: flex-start;{%- elsif section.settings.content_alignment_mobile == 'right' -%}align-items: flex-end;{%- endif -%}}#{{ section_id }} .ce-rich-text__text p { {%- if section.settings.content_alignment_mobile == 'center' -%}text-align: center;{%- elsif section.settings.content_alignment_mobile == 'left' -%}text-align: left;{%- elsif section.settings.content_alignment_mobile == 'right' -%}text-align: right;{%- endif -%}}#{{ section_id }} .ce-rich-text__buttons {display: inline-flex;{%- if section.settings.content_alignment_mobile == 'center' -%}justify-content: center;{%- elsif section.settings.content_alignment_mobile == 'left' -%}justify-content: flex-start;{%- elsif section.settings.content_alignment_mobile == 'right' -%}justify-content: flex-end;{%- endif -%}flex-wrap: wrap;gap: 1rem;width: 100%;max-width: 45rem;word-break: break-word;}#{{ section_id }} .ce-rich-text__buttons.ce-rich-text__buttons-multiple a {flex-grow: 1;min-width: 22rem;}#{{ section_id }} .ce-rich-text__buttons a {text-align: center;}#{{ section_id }} .ce-rich-text__buttons a:not([href]) {cursor: not-allowed;}#{{ section_id }} .rte:after {clear: both;content: '';display: block;}#{{ section_id }} .rte > *:first-child {margin-top: 0;}#{{ section_id }} .rte > *:last-child {margin-bottom: 0;}#{{ section_id }} .rte table {table-layout: fixed;}@media screen and (min-width: 750px) {#{{ section_id }} .rte table td {padding-left: 1.2rem;padding-right: 1.2rem;}}#{{ section_id }} .rte img {height: auto;max-width: 100%}#{{ section_id }} .rte ul,#{{ section_id }} .rte ol {list-style-position: inside;padding-left: 2rem;}#{{ section_id }} .rte li {list-style: inherit;}#{{ section_id }} .rte li:last-child {margin-bottom: 0;}#{{ section_id }} .rte a {color: inherit;text-underline-offset: 0.3rem;text-decoration-thickness: 0.1rem;transition: text-decoration-thickness 3s ease;}#{{ section_id }} .rte a:hover {color: rgb(var(--color-link));text-decoration-thickness: 0.2rem;}#{{ section_id }} .rte blockquote {display: inline-flex;}#{{ section_id }} .rte blockquote > * {margin: -0.5rem 0 -0.5rem 0;}@media (min-width:750px) {#{{ section_id }} {padding-top: {{ section.settings.desktop_padding_top }}px;padding-bottom: {{ section.settings.desktop_padding_bottom }}px;{%- if section.settings.section_width == 'custom' -%}max-width: {{ section.settings.custom_width }}px;margin: 0 auto;{%- else -%}width: 100%;{%- endif -%}}#{{ section_id }} .ce-rich-text__width {max-width: 78rem;padding-left: {{ section.settings.padding_left_right_desktop }}px;padding-right: {{ section.settings.padding_left_right_desktop }}px;}#{{ section_id }} .ce-rich-text__wrapper { {%- if section.settings.content_alignment_desktop == 'center' -%}align-items: center;{%- elsif section.settings.content_alignment_desktop == 'left' -%}align-items: flex-start;{%- elsif section.settings.content_alignment_desktop == 'right' -%}align-items: flex-end;{%- endif -%} }#{{ section_id }} .ce-rich-text__text p { {%- if section.settings.content_alignment_desktop == 'center' -%}text-align: center;{%- elsif section.settings.content_alignment_desktop == 'left' -%}text-align: left;{%- elsif section.settings.content_alignment_desktop == 'right' -%}text-align: right;{%- endif -%} }#{{ section_id }} .ce-rich-text__buttons { {%- if section.settings.content_alignment_desktop == 'center' -%}justify-content: center;{%- elsif section.settings.content_alignment_desktop == 'left' -%}justify-content: flex-start;{%- elsif section.settings.content_alignment_desktop == 'right' -%}justify-content: flex-end;{%- endif -%} }}{%- endstyle -%}

<div id="{{ section_id }}" style="background-color:{{ section.settings.bg_color }};">
  <div class="ce-rich-text__width">  
    <div class="ce-rich-text__wrapper">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'caption' -%}
            {%- style -%}
              #block-{{ block.id }} {padding-top: {{ block.settings.caption_padding_top_mobile }}px;padding-bottom: {{ block.settings.caption_padding_bottom_mobile }}px;color: {{ block.settings.caption_font_color_mobile }};font-size: {{ block.settings.caption_font_size_mobile }}px;margin: 0;}@media (min-width:750px) {#block-{{ block.id }} {padding-top: {{ block.settings.caption_padding_top_desktop }}px;padding-bottom: {{ block.settings.caption_padding_bottom_desktop }}px;color: {{ block.settings.caption_font_color_desktop }};font-size: {{ block.settings.caption_font_size_desktop }}px;}}
            {%- endstyle -%}
            <p id="block-{{ block.id }}" {{ block.shopify_attributes }}>{{ block.settings.caption | escape }}</p>
          {%- when 'heading' -%}
            {%- style -%}
              #block-{{ block.id }} {padding-top: {{ block.settings.heading_padding_top_mobile }}px;padding-bottom: {{ block.settings.heading_padding_bottom_mobile }}px;color: {{ block.settings.heading_font_color_mobile }};font-size: {{ block.settings.heading_font_size_mobile }}px;margin: 0;}@media (min-width:750px) {#block-{{ block.id }} {padding-top: {{ block.settings.heading_padding_top_desktop }}px;padding-bottom: {{ block.settings.heading_padding_bottom_desktop }}px;color: {{ block.settings.heading_font_color_desktop }};font-size: {{ block.settings.heading_font_size_desktop }}px;}}
            {%- endstyle -%}
            <h2 id="block-{{ block.id }}" {{ block.shopify_attributes }}>{{ block.settings.heading }}</h2>
          {%- when 'text' -%}
            {%- style -%}
              #block-{{ block.id }} {padding-top: {{ block.settings.text_padding_top_mobile }}px;padding-bottom: {{ block.settings.text_padding_bottom_mobile }}px;color: {{ block.settings.text_font_color_mobile }};font-size: {{ block.settings.text_font_size_mobile }}px;line-height: {{ block.settings.text_line_height_mobile }}px;}@media (min-width:750px) {#block-{{ block.id }} {padding-top: {{ block.settings.text_padding_top_desktop }}px;padding-bottom: {{ block.settings.text_padding_bottom_desktop }}px;color: {{ block.settings.text_font_color_desktop }};font-size: {{ block.settings.text_font_size_desktop }}px;line-height: {{ block.settings.text_line_height_desktop }}px;}}
            {%- endstyle -%}
            <div id="block-{{ block.id }}" class="ce-rich-text__text rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
          {%- when 'button' -%}
            {%- style -%}
              #block-{{ block.id }} {padding-top: {{ block.settings.button_padding_top_mobile }}px;padding-bottom: {{ block.settings.button_padding_bottom_mobile }}px;}#block-{{ block.id }}.ce-rich-text__buttons a:first-child {color: {{ block.settings.button_one_font_color }};}#block-{{ block.id }}.ce-rich-text__buttons a:last-child {color: {{ block.settings.button_two_font_color }};}@media (min-width:750px) {#block-{{ block.id }} {padding-top: {{ block.settings.button_padding_top_desktop }}px;padding-bottom: {{ block.settings.button_padding_bottom_desktop }}px;}}
            {%- endstyle -%}
            <div id="block-{{ block.id }}" class="ce-rich-text__buttons {% if block.settings.button_two_label != blank %}ce-rich-text__buttons-multiple{% endif %}" {{ block.shopify_attributes }}>
              {%- if block.settings.button_one_label != blank -%}
                <a 
                  {% if block.settings.button_one_link == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_one_link }}"
                  {% endif %}
                  class="{{ block.settings.button_one_custom_css }}"
                >{{ block.settings.button_one_label | scape }}</a>
              {%- endif -%}
              {%- if block.settings.button_one_label != blank -%}
                <a 
                  {% if block.settings.button_two_link == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_two_link }}"
                  {% endif %}
                  class="{{ block.settings.button_two_custom_css }}"
                >{{ block.settings.button_two_label | scape }}</a>
              {%- endif -%}
            </div>
          {%- when 'image' -%}
{%- if block.settings.image_position == 'left' -%}
  left
{%- else -%}
  right
{%- endif -%}
            <div class="image-{{ image_class }}">
              <img src="{{ block.settings.image | img_url: 'master' }}" style="width: {{ block.settings.image_width }}%;">
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "CE | Rich text",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {"value": "full", "label": "Full width"},
        {"value": "custom", "label": "Custom width"}
      ],
      "default": "full",
      "label": "Section width"
    },
    {
      "type": "range",
      "id": "custom_width",
      "min": 640,
      "max": 1800,
      "step": 20,
      "unit": "px",
      "label": "Custom width (desktop)",
      "default": 1200,
      "info": "Only work with custom width selected"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Content alignment"
    },
    {
      "type": "select",
      "id": "content_alignment_mobile",
      "options": [
        {"value": "left", "label": "Left"},
        {"value": "center", "label": "Center"},
        {"value": "right", "label": "Right"}
      ],
      "default": "center",
      "label": "Content alignment (mobile)"
    },
    {
      "type": "select",
      "id": "content_alignment_desktop",
      "options": [
        {"value": "left", "label": "Left"},
        {"value": "center", "label": "Center"},
        {"value": "right", "label": "Right"}
      ],
      "default": "center",
      "label": "Content alignment (desktop)"
    },
    {
      "type": "header",
      "content": "Left/Right Spacing"
    },
    {
      "type": "range",
      "id": "padding_left_right_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Left/Right (mobile)",
      "default": 12
    },
    {
      "type": "range",
      "id": "padding_left_right_desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Left/Right (desktop)",
      "default": 16
    },
    {
      "type": "header",
      "content": "Top/Bottom Spacing"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Top (mobile)",
      "default": 32
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Bottom (mobile)",
      "default": 32
    },
    {
      "type": "range",
      "id": "desktop_padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Top (desktop)",
      "default": 64
    },
    {
      "type": "range",
      "id": "desktop_padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Bottom (desktop)",
      "default": 64
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {"type": "inline_richtext", "id": "heading", "default": "Heading text", "label": "Heading"},
        {
          "type": "header",
          "content": "Font color"
        },
        {"type": "color", "id": "heading_font_color_mobile", "label": "Font color (mobile)", "default": "#212121"},
        {"type": "color", "id": "heading_font_color_desktop", "label": "Font color (desktop)", "default": "#212121"},
        {
          "type": "header",
          "content": "Font size"
        },
        {"type": "range", "id": "heading_font_size_mobile", "min": 2, "max": 200, "step": 2, "unit": "px", "label": "Font size (mobile)", "default": 30},
        {"type": "range", "id": "heading_font_size_desktop", "min": 2, "max": 200, "step": 2, "unit": "px", "label": "Font size (desktop)", "default": 40},
        {
          "type": "header",
          "content": "Top/Bottom Spacing"
        },
        {"type": "range", "id": "heading_padding_top_mobile", "min": 0, "max": 200, "step": 2, "unit": "px", "label": "Top (mobile)", "default": 8},
        {"type": "range", "id": "heading_padding_bottom_mobile", "min": 0, "max": 200, "step": 2, "unit": "px", "label": "Bottom (mobile)", "default": 8},
        {"type": "range", "id": "heading_padding_top_desktop", "min": 0, "max": 200, "step": 2, "unit": "px", "label": "Top (desktop)", "default": 16},
        {"type": "range", "id": "heading_padding_bottom_desktop", "min": 0, "max": 200, "step": 2, "unit": "px", "label": "Bottom (desktop)", "default": 16}
      ]
    },
    {
      "type": "caption",
      "name": "Caption",
      "settings": [
        {"type": "inline_richtext", "id": "caption", "default": "Caption text", "label": "Caption"},
        {
          "type": "header",
          "content": "Font color"
        },
        {"type": "color", "id": "caption_font_color_mobile", "label": "Font color (mobile)", "default": "#757575"},
        {"type": "color", "id": "caption_font_color_desktop", "label": "Font color (desktop)", "default": "#757575"},
        {
          "type": "header",
          "content": "Font size"
        },
        {"type": "range", "id": "caption_font_size_mobile", "min": 2, "max": 200, "step": 2, "unit": "px", "label": "Font size (mobile)", "default": 14},
        {"type": "range", "id": "caption_font_size_desktop", "min": 2, "max": 200, "step": 2, "unit": "px", "label": "Font size (desktop)", "default": 16},
        {
          "type": "header",
          "content": "Top/Bottom Spacing"
        },
        {"type": "range", "id": "caption_padding_top_mobile", "min": 0, "max": 200, "step": 2, "unit": "px", "label": "Top (mobile)", "default": 8},
        {"type": "range", "id": "caption_padding_bottom_mobile", "min": 0, "max": 200, "step": 2, "unit": "px", "label": "Bottom (mobile)", "default": 8},
        {"type": "range", "id": "caption_padding_top_desktop", "min": 0, "max": 200, "step": 2, "unit": "px", "label": "Top (desktop)", "default": 16},
        {"type": "range", "id": "caption_padding_bottom_desktop", "min": 0, "max": 200, "step": 2, "unit": "px", "label": "Bottom (desktop)", "default": 16}
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {"type": "richtext", "id": "text", "default": "<p>Your text here...</p>", "label": "Text"},
        {
          "type": "header",
          "content": "Font color"
        },
        {"type": "color", "id": "text_font_color_mobile", "label": "Font color (mobile)", "default": "#212121"},
        {"type": "color", "id": "text_font_color_desktop", "label": "Font color (desktop)", "default": "#212121"},
        {
          "type": "header",
          "content": "Font size"
        },
        {"type": "range", "id": "text_font_size_mobile", "min": 2, "max": 200, "step": 2, "unit": "px", "label": "Font size (mobile)", "default": 16},
        {"type": "range", "id": "text_font_size_desktop", "min": 2, "max": 200, "step": 2, "unit": "px", "label": "Font size (desktop)", "default": 18},
        {
          "type": "header",
          "content": "Line height"
        },
        {"type": "range", "id": "text_line_height_mobile", "min": 0, "max": 200, "step": 2, "unit": "px", "label": "Line height (mobile)", "default": 24},
        {"type": "range", "id": "text_line_height_desktop", "min": 0, "max": 200, "step": 2, "unit": "px", "label": "Line height (desktop)", "default": 28},
        {
          "type": "header",
          "content": "Top/Bottom Spacing"
        },
        {"type": "range", "id": "text_padding_top_mobile", "min": 0, "max": 200, "step": 2, "unit": "px", "label": "Top (mobile)", "default": 8},
        {"type": "range", "id": "text_padding_bottom_mobile", "min": 0, "max": 200, "step": 2, "unit": "px", "label": "Bottom (mobile)", "default": 8},
        {"type": "range", "id": "text_padding_top_desktop", "min": 0, "max": 200, "step": 2, "unit": "px", "label": "Top (desktop)", "default": 16},
        {"type": "range", "id": "text_padding_bottom_desktop", "min": 0, "max": 200, "step": 2, "unit": "px", "label": "Bottom (desktop)", "default": 16}
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
    {"type": "text", "id": "button_one_label", "default": "Button 1", "label": "Button one label"},
    {"type": "url", "id": "button_one_link", "label": "Button one link"},
    {"type": "text", "id": "button_one_custom_css", "default": "button-primary", "label": "Button one custom css"},
    {"type": "color", "id": "button_one_font_color", "default": "#ffffff", "label": "Button one font color"},
    {"type": "range", "id": "button_padding_top_mobile", "min": 0, "max": 200, "step": 2, "unit": "px", "label": "Top (mobile)", "default": 12},
    {"type": "range", "id": "button_padding_bottom_mobile", "min": 0, "max": 200, "step": 2, "unit": "px", "label": "Bottom (mobile)", "default": 12},
    {"type": "range", "id": "button_padding_top_desktop", "min": 0, "max": 200, "step": 2, "unit": "px", "label": "Top (desktop)", "default": 16},
    {"type": "range", "id": "button_padding_bottom_desktop", "min": 0, "max": 200, "step": 2, "unit": "px", "label": "Bottom (desktop)", "default": 16},
    {"type": "text", "id": "button_two_label", "default": "Button 2", "label": "Button two label"},
    {"type": "url", "id": "button_two_link", "label": "Button two link"},
    {"type": "text", "id": "button_two_custom_css", "default": "button-secondary", "label": "Button two custom css"},
    {"type": "color", "id": "button_two_font_color", "default": "#ffffff", "label": "Button two font color"}
  ]
    },
    {
  "type": "image",
  "name": "Image",
  "settings": [
    {"type": "image_picker", "id": "image", "label": "Image"},
    {"type": "range", "id": "image_width", "min": 10, "max": 100, "step": 1, "unit": "%", "label": "Width", "default": 50},
    {
      "type": "header",
      "content": "Image position"
    },
    {"type": "radio", "id": "image_position", "label": "Image position", "options": [{"value": "left", "label": "Left"}, {"value": "right", "label": "Right"}], "default": "left"}
  ]
}

  ],
  "presets": [
    {
      "name": "CE | Rich text",
      "category": "Text"
    }
  ]
}
{% endschema %}
