{% schema %}
{
  "name": "Slider de Imágenes",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Imagen del Slider",
      "info": "Selecciona una imagen para agregar al slider."
    },
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": "Habilitar Slider",
      "default": true
    }
  ]
}

{% endschema %}

<div id="{{ section_id }}" class="{{ section_classes }}">
  <div class="swiper-container {{ section_id }}__swiper-container">
    <div class="swiper-wrapper">
      {% for image_item in section.settings.slider_images %}
        <div class="swiper-slide {{ section_id }}__swiper-slide">
          <img src="{{ image_item.image }}" alt="Slide" width="600" height="400">
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination {{ section_id }}__swiper-pagination"></div>
  </div>
</div>

{% if section.settings.enable_slider != false %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var {{ section_id }}Swiper = new Swiper('.{{ section_id }}__swiper-container', {
        loop: true,
        autoplay: {
          delay: 5000,
          disableOnInteraction: false,
        },
        pagination: {
          el: '.{{ section_id }}__swiper-pagination',
          clickable: true,
        },
        // Permitir el desplazamiento del ratón para navegar por las imágenes
        mousewheel: true,
        keyboard: true,
      });
    });
  </script>
{% endif %}

<style>
  /* Estilos CSS personalizados para el slider */
  .{{ section_id }}__swiper-container {
    width: 100%;
    height: 100%;
  }
  .{{ section_id }}__swiper-slide {
    text-align: center;
  }
  .{{ section_id }}__swiper-slide img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
</style>
