{% schema %}
{
  "name": "Slider de Im치genes",
  "settings": [
    {
      "type": "text",
      "id": "slider_images",
      "label": "URL de la imagen del Slider",
      "info": "Ingresa la URL de la imagen que deseas mostrar en el slider."
    },
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": "Habilitar slider",
      "default": true
    }
  ],
  "presets": [
    {
      "category": "Productos",
      "name": "Slider de Im치genes"
    }
  ]
}
{% endschema %}

<div id="{{ section_id }}" class="{{ section_classes }}">
  <div class="swiper-container {{ section_id }}__swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide {{ section_id }}__swiper-slide">
        <img src="{{ section.settings.slider_images }}" alt="Slide" width="600" height="400">
      </div>
    </div>
    <div class="swiper-pagination {{ section_id }}__swiper-pagination"></div>
  </div>
</div>

{% if section.settings.enable_slider != false %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var {{ section_id }}Swiper = new Swiper('.{{ section_id }}__swiper-container', {
        loop: true,
        autoplay: {
          delay: 5000,
          disableOnInteraction: false,
        },
        pagination: {
          el: '.{{ section_id }}__swiper-pagination',
          clickable: true,
        },
        // Permitir el desplazamiento del rat칩n para navegar por las im치genes
        mousewheel: true,
        keyboard: true,
      });
    });
  </script>
{% endif %}

<style>
  /* Estilos CSS personalizados para el slider */
  .{{ section_id }}__swiper-container {
    width: 100%;
    height: 100%;
  }
  .{{ section_id }}__swiper-slide img {
    width: 100%;
    height: auto;
  }
</style>
